{% extends 'base.html' %}

{% block content %}

<main class='container'>
    <h1>Loodsen Boekje</h1>

    <form>
        <!-- select random item that has already been done as placeholder -->
        <input type="text" name="search" placeholder="Bier opener">
    </form>

    <table>
        <thead>
        <tr>
            <th scope='col'>#</th>
            <th scope='col'>Manier</th>
            <th scope='col'>Openaar(s)</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <th scope='row'>1</th>
                <th>Entry ...</th>
                <th>Opa Dorus</th>
                </details>
            </tr>
        </tbody>
    </table>
</main>
{% endblock %}
