<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Loodsen Boekje</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    </head>
    <body>
        <main class='container' id="app">
            <h1>Loodsen Boekje</h1>

            <form @submit.prevent>
                <input
                    type="text" name="search"
                    v-model="searchText"
                    @input="searching"
                    :placeholder="entries.length > 0? entries[Math.floor(Math.random()*entries.length)].how: 'Bier Opener'"
                >
            </form>

            <table>
                <thead>
                    <tr>
                        <th scope='col'>#</th>
                        <th scope='col'>Hoe/wat</th>
                        <th scope='col'>Wie</th>
                        <th scope='col'>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- create one tr for every entry here -->
                    <tr v-for="entry in entries" :key="entry">
                        <td scope='row'>{{ entry.id}}</td>
                        <td>{{ entry.how}}</td>
                        <td>{{ entry.who.join(', ') }}</td>
                        <td>{{ entry.timestamp }}</td>
                    </tr>
                </tbody>
            </table>
        </main>
        <script src="https://cdn.jsdelivr.net/npm/fuse.js/dist/fuse.js"></script>
        <script src="https://unpkg.com/vue@next"></script>
        <script src="https://unpkg.com/petite-vue"></script>
        <script src="static/main.js"></script>
    </body>
</html>
